body {
background-color: teal;

}
h1{

font-family: sans-serif;
text-align: center;
color: white;
}

.box{
background-image: url(clockimage.png);
background-size: 300px 314px;
width: 300px;
height: 314px;
background-repeat: no-repeat;
position: relative;
transform-origin: center;
background-color: teal;
border: 5px solid white;
}

  .imgbox2 {
position: absolute;
left:48%;
top: 38%;
transform-origin: left;
animation-name: hour;
animation-duration: 7s;
animation-iteration-count: infinite;

  }

  .imgbox {
  position: absolute;
  left: 36%;
  bottom: 49%;
  transform-origin: bottom;
  animation-name: minutes;
  animation-duration: 7s;
  animation-iteration-count: infinite;

    }
    @keyframes minutes {
      0%{}
      100% {transform: rotate(360deg);}
    }

    @keyframes hour {
      0%{}
      100% {transform: rotate(30deg);}

      }
